# =========================
# C++ compiled files
# =========================
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.a
*.lib

# =========================
# Build folders
# =========================
build/
bin/
Debug/
Release/

# =========================
# Code::Blocks user layout
# =========================
*.layout
*.depend

# =========================
# Temporary files
# =========================
*.log
*.tmp
*.cache

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db